{% extends "consumer/consumer_base.html" %}
{% block title %}My Reviews{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for("static", filename="css/features.css") }}">
  <style>
      .review {
          background-color: #ffffffee;
      }

      .review-media {
          width: -moz-available; /* For Mozzila */
          width: -webkit-fill-available; /* For Chrome */
      }
  </style>
{% endblock %}

{% block content %}
  <div style="display: flow-root;">
    <div class="align-items-center float-start ms-2">
      <h1 class="display-6">My Reviews</h1>
      {% if count == 0 %}
        <p>There are no reviews yet. Perhaps try writing some?
          {% elif count == 1 %}
        <p>You've written 1 review.
          {% else %}
        <p>You've written {{ count }} reviews.
      {% endif %}
      </p>
    </div>
  </div>
  <div id="content">
  <div class="container px-4 py-5" id="featured-3">
  <div class="row g-4 ms-1 me-1 row-cols-1 row-cols-lg-3">
    {% for review in list_of_reviews %}
      <div class="feature col review">
        <div style="display: flow-root;">
        <div class="float-start">
          {% for i in range(review.stars) %}
            <img class="review-star" src="{{ url_for("static", filename="reviews/star.png") }}" alt="Star">
          {% endfor %}
          <h5><b>{{ review.restaurant_name }}</b></h5>
        </div>
          <div class="float-end mt-2">
            <a class="btn btn-danger" href="{{ url_for("consumer_delete_review", review_id=review.id) }}">Delete</a>
          </div>
        </div>
        <h2>{{ review.title }}</h2>
        <p>{{ review.description }}</p>
        <p><em><b>Timestamp:</b> {{ review.datetime.strftime('%d-%m-%Y %H:%M') }}</em></p>
        <img class="review-media" src="{{ url_for("static", filename=review.media_path) }}" alt="No media uploaded"
             width="100">
      <br>
      </div>
    {% endfor %}
  </div>
{% endblock %}
