{% extends "consumer/consumer_base.html" %}
{% block title %}FoodyPulse - Home{% endblock %}

{% block head %}
    <style>
        .header {
            width: 90%;
            margin: auto;
        }

        .header h4 {
            display: inline-block;
            font-size: 25px;
            padding-top: 10px;
        }

        .addressDiv {
            background-color: #f3f0d1;
            width: 30%;
            border: 1px black;
        }

        .inputs {
            width: 90%;
            margin: auto;
        }

        .form-control {
            margin: 10px auto;
            height: 150px;
        }

        label {
            margin-top: 10px;
        }

        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <script>
        function initMap() {
            // the location of Nanyang Polytechnic
            const nyp = {lat: 1.3800, lng: 103.8489};
            // center the map at nyp
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 4,
                center: nyp,
            });
        }
    </script>
{% endblock %}

{% block content %}
    {% from "includes/_formHelper.html" import render_field %}

    <form method="POST" action="{{ url_for('consumer_myaddress') }}">
        <div class="addressDiv">
            <div class="header">
                <img src="{{ url_for("static", filename="cart/location.png") }}" alt="location Logo"
                     style="height: 35px; width: 40px; margin: 15px 0px; display: inline-block">
                <h4 style="margin-left: 20px;">Delivery Address</h4>
            </div>

            {# todo: display the location after the user press 'submit' button #}
            <div id="map"></div>

            <div class="inputs">
                <div class="form-group">{{ render_field(form.consumer_address, class="form-control", placeholder='Enter Address here') }}</div>

                <input type="submit" value="Submit" class="btn btn-primary" style="margin: 20px 0;"/>
            </div>

            {# async script executes immediately and msut be after any DOM elements used in callbacl. #}
            <script
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu8EK_J5eGH_o7frDEGfeWEJfWJIY6hbE&callback=initMap&libraries=&v=weekly"
                    async
            ></script>
        </div>
    </form>

{% endblock %}
