{% extends "consumer/consumer_base.html" %}
{% block title %}ChatBot{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
    </style>
{% endblock %}

{% block content %}
    <h1> Welcome to our ChatBot</h1>
    <div id="chatbox">
        <p class="botText"><span>Hi! Im ChatterBot</span></p>
    </div>
    <div id="userInput">
        <input id= "textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
    </div>
    <script>
        function getBotResponse() {
            var rawText = $("#textInput").val();
            var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document.getElementById("userInput").scrollIntoView({block: 'start', behavior: 'smooth'});
            $.get("/get", {msg: rawText}).done(function(data) {
                var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                $("#chatbox").append(botHtml);
                document.getElementById("userInput").scrollIntoView({block: 'start', behavior: 'smooth'});

            });
        }

        $("#textInput").keypress(function (e) {
            if (e.which == 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function () {
            getBotResponse();
        })
    </script>
{% endblock %}
