/* Ashlee */
body {
    background-image: url("bg.png");
    background-size: 25%;
}

.btn, .btn-primary, .btn-primary:active:focus, .btn-primary:focus {
    box-shadow: none;
}
.btn:hover {
}

div#content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;  /* do not touch menubar */
}

