{% extends "base.html" %}
{% block title %}Library Loan System - Home{% endblock %}

{% block content %}
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#DIT">DIT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#DSF">DSF</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#DCS">DCS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#DBFT">DBFT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#CIP">CIP</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container-fluid  active" id="DIT">
        <br>
        <h2>IT1166 App Development Project</h2>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Mr. Chai Min Shiung</td>
                <td>Module Leader</td>
                <td><a href="mailto:chai_min_shiung@nyp.edu.sg">chai_min_shiung@nyp.edu.sg</a></td>
            </tr>
            <tr>
                <td>Mr. Andrea Chua</td>
                <td>Module Tutor</td>
                <td><a href="mailto:andrea_chua@nyp.edu.sg">andrea_chua@nyp.edu.sg</a></td>
            </tr>
            <tr>
                <td>Mr. Chan Yuen Loong</td>
                <td>Module Tutor</td>
                <td><a href="mailto:chan_yuen_loong@nyp.edu.sg">chan_yuen_loong@nyp.edu.sg</a></td>
            </tr>
            <tr>
                <td>Ms. Li Haiyun</td>
                <td>Module Tutor</td>
                <td><a href="mailto:li_haiyun@nyp.edu.sg">li_haiyun@nyp.edu.sg</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane container-fluid  fade" id="DSF">
        <br>
        <h2>IT1566 App Development Project</h2>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Mr. Chai Min Shiung</td>
                <td>Module Leader</td>
                <td><a href="mailto:chai_min_shiung@nyp.edu.sg">chai_min_shiung@nyp.edu.sg</a></td>
            </tr>
            <tr>
                <td>Mr. Choy Wai Leong</td>
                <td>Module Tutor</td>
                <td><a href="mailto:choy_wai_leong@myaccount.nyp.edu.sg">choy_wai_leong@myaccount.nyp.edu.sg</a></td>
            </tr>
            <tr>
                <td>Mr. Goh Terry</td>
                <td>Module Tutor</td>
                <td><a href="mailto:terry_goh@nyp.edu.sg">terry_goh@nyp.edu.sg"</a></td>
            </tr>
            <tr>
                <td>Mr. Jerry Lim Yishun</td>
                <td>Module Tutor</td>
                <td><a href="mailto:limyishun@gmail.com">limyishun@gmail.com</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane container-fluid  fade" id="DCS">
        <br>
        <h2>IT1666 App Development Project</h2>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ms. Andrea Tan</td>
                <td>Module Leader</td>
                <td><a href="mailto:andrea_tan@nyp.edu.sg">andrea_tan@nyp.edu.sg</a></td>
            </tr>
            <tr>
                <td>Ms. Tan Sew Lan</td>
                <td>Module Tutor</td>
                <td><a href="mailto:tan_sew_lan@myaccount.nyp.edu.sg">tan_sew_lan@myaccount.nyp.edu.sg</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane container-fluid  fade" id="DBFT">
        <br>
        <h2>IT1866 App Development Project</h2>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ms. Andrea Tan</td>
                <td>Module Leader</td>
                <td><a href="mailto:andrea_tan@nyp.edu.sg">andrea_tan@nyp.edu.sg</a></td>
            </tr>
            <tr>
                <td>Mr. Heng Rui Jie</td>
                <td>Module Tutor</td>
                <td><a href="mailto:heng_rui_jie@nyp.edu.sg">heng_rui_jie@nyp.edu.sg</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane container-fluid  fade" id="CIP">
        <br>
        <h2>IT1966 App Development Project</h2>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Mr. Bobby Liu Jian Rong</td>
                <td>Module Leader</td>
                <td><a href="mailto:liu_jianrong@nyp.edu.sg">liu_jianrong@nyp.edu.sg</a></td>
            </tr>
            <tr>
                <td>Mr. Choy Wai Leong</td>
                <td>Module Tutor</td>
                <td><a href="mailto:choy_wai_leong@myaccount.nyp.edu.sg">choy_wai_leong@myaccount.nyp.edu.sg</a></td>
            </tr>
            <tr>
                <td>Mr. Koh Wing Onn</td>
                <td>Module Tutor</td>
                <td><a href="mailto:koh_wing_onn@myaccount.nyp.edu.sg">koh_wing_onn@myaccount.nyp.edu.sg</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}