{# ashlee #}
{% extends "consumer/consumer_base.html" %}
{% block title %}Delivery{% endblock %}

{% block head %}
  <link rel="stylesheet"
        href="{{ url_for("static", filename="css/features.css") }}">
  <style>
      .review {
          background-color: #ffffffee;
      }

      .review-media {
          width: -moz-available; /* For Mozzila */
          width: -webkit-fill-available; /* For Chrome */
      }
  </style>

{% endblock %}

{% block content %}
  <div style="display: flow-root;">
    <div class="align-items-center float-start ms-2">
      <h1 class="display-6">{{ restaurant.name }}</h1>
      <em>Choose Food Item</em>
      </p>
    </div>
    <div class="align-items-center float-end ms-2 mt-3">
      <strong>Average
        rating: {{ "%.2f"|format(restaurant.average_rating) }}</strong>
      <a href="{{ url_for("retrieve_reviews", restaurant_id=restaurant.id) }}"
         class="btn">Read All Reviews</a>
    </div>
  </div>
  {#  #}
  {#  <div class="container px-4 py-5" id="featured-3">#}
  {#    <h1 class="pb-2">{{ restaurant.name }}</h1>#}
  {#    <h2 class="pb-2 border-bottom">Choose Food Item</h2>#}
  {#            <div class="align-items-center float-end ms-2 mt-3">#}
  {#            <strong>Average rating: {{ "%.2f"|format(restaurant.average_rating) }}</strong>#}
  {#          </div>#}


  <div class="row g-4 ms-1 me-1 row-cols-3 row-cols-lg-3">
    {% for review in restaurant.get_top_reviews(3) %}
      <div class="feature col review">
        <div class="">
            {% if review.trustworthiness() * 100 < review.TRUSTWORTHINESS_THRESHOLD %}
                <p><strong style="color: red;">This review is possibly fake.</strong></p>
            {% endif %}
          {% for i in range(review.stars) %}
            <img class="review-star"
                 src="{{ url_for("static", filename="reviews/star.png") }}"
                 alt="Star">
          {% endfor %}
        </div>
        <h2>{{ review.title }}</h2>
        <p>{{ review.description }}</p>
        <p><em><b>By:</b> {{ review.reviewer_name }}</em></p>
        <p><em>
          <b>Trustworthiness
            score:</b> {{ "%.1f" % (review.trustworthiness() * 100) }}%
          &nbsp;
        </em></p>
        {# TODO: use ISO standard for timestamp yyyy-mm-dd sort easily and more marks -yuenloong #}
        <p>
          <em><b>Timestamp:</b> {{ review.datetime.strftime('%d-%m-%Y %H:%M') }}
          </em></p>
{#        <img class="review-media"#}
{#             src="{{ url_for("static", filename=review.media_path) }}"#}
{#             alt="No media uploaded" height="220" style="object-fit: cover;">#}
      </div>
    {% endfor %}
  </div>


  <div class="row g-4 py-5 row-cols-3 row-cols-lg-3">
    {% if count %}
      {% for food in food_list %}
        <div class="card" style="width: 18rem;">
          <img src="{{ url_for("static", filename=food.image) }}" height="220"
               style="object-fit: cover;"
               class="card-img-top" alt="{{ food.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ food.name }}</h5>
            <h6 class="card-title">${{ "%.2f" % food.price }}</h6>
            <p class="card-text">{{ food.description }}</p>
            {#              <a href="{{ url_for("cart_add", food_id=food.id) }}"#}
            {#                 class="btn btn-primary">Add to Cart</a>#}
            <button data-bs-toggle="modal"
                    data-bs-target="#foodModal{{ food.id }}"
                    class="btn btn-primary">Add to Cart
            </button>
          </div>
        </div>
        {# Food Modal #}
        {% include "consumer/foodModal.html" %}
      {% endfor %}
    {% else %}
      <p>There are no food items in {{ restaurant.name }} yet :(</p>
    {% endif %}
  </div>
  {#  </div>#}




{% endblock %}
