{# ashlee #}
{% extends "consumer/consumer_base.html" %}
{% block title %}Delivery{% endblock %}

{% block head %}

    <style>


        .wrapper {
            display: flex;
            flex-wrap: wrap;
            height: 220px;
            width: 454px;
            border-radius: 7px 7px 7px 7px;
            /* VIA CSS MATIC https://goo.gl/cIbnS */
            -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        }

        .product-img {
            float: left;
            height: 220px;
            width: 227px;
        }

        .product-img img {
            border-radius: 7px 0 0 7px;
        }

        .product-info {
            float: left;
            height: 220px;
            width: 227px;
            border-radius: 0 7px 10px 7px;
            background-color: #ffffff;
        }

        .product-text {
            height: 180px;
            width: 227px;
        }

        .product-text h1 {
            margin: 0 0 0 38px;
            padding-top: 52px;
            font-size: 34px;
            color: #474747;
        }

        .product-text h1,
        .product-price-btn p {
            font-family: 'Bentham', serif;
        }

        .product-text h2 {
            margin: 0 0 47px 38px;
            font-size: 13px;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            color: #d2d2d2;
            letter-spacing: 0.2em;
        }

        .product-text p {
            height: 100px;
            margin: 0 0 0 38px;
            font-family: 'Playfair Display', serif;
            color: #8d8d8d;
            line-height: 1.7em;
            font-size: 15px;
            font-weight: lighter;
            overflow: hidden;
        }

        .product-price-btn {
            height: 103px;
            width: 327px;
            position: relative;
        }

        span {
            display: inline-block;
            height: 50px;
            font-family: 'Suranna', serif;
            font-size: 34px;
        }

        .product-price-btn button {
            float: right;
            height: 50px;
            width: 176px;
        }

        .product-price-btn button:hover {
            background-color: #79b0a1;
        }

        {#.products {#}
        {#    display: flex;#}
        {#    flex-wrap: wrap;#}
        {#    border-color: black;#}
        {##}
        {#.card {#}
        {#    margin: 20px;#}
        {##}
        {##image {#}
        {#    padding-top: 5%;#}
        {#    width: 200px;#}
        {#    height: 150px;#}

    </style>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/features.css") }}">
{% endblock %}

{% block content %}

    <div class="post_container">
        <div class="article">

            {% if count %}
                {% for restaurant in restaurants %}
                    <div class="clara">
                    <div class="wrapper">
                        <div class="product-img">
                            <img src="{{ url_for("static", filename=restaurant.logo) }}" class="card-img-top"
                                 alt="{{ restaurant.name }}">
                        </div>
                        <div class="product-info">
                            <div class="product-text">
                                <h1>{{ restaurant.name }}</h1>
                                {% for i in range(restaurant.stars_int) %}
                                    <img class="review-star" src="{{ url_for("static", filename="reviews/star.png") }}"
                                         alt="Star">
                                {% endfor %}
                                <p>{{ restaurant.desc }}</p>
                            </div>
                            <div class="product-price-btn">
                                <a href="{{ url_for("delivery_food", restaurant_id=restaurant.id) }}"
                                   class="btn btn-primary">Order</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>There are no restaurants on FoodyPulse yet :(</p>
            {% endif %}
            </div>
        </div>
    </div>

    {##}
    {#<section class="products">#}
    {#    <div class="container px-4 py-5" id="featured-3">#}
    {#        <h2 class="pb-2 border-bottom">Choose a Restaurant</h2>#}
    {#        <div class="row g-4 py-5 row-cols-1 row-cols-lg-1">#}
    {#            {% if count %}#}
    {#                {% for restaurant in restaurants %}#}
    {#                    <div class="card" style="width: 18rem;">#}
    {#                        <div id="image">#}
    {#                            <img src="{{ url_for("static", filename=restaurant.logo) }}" class="card-img-top"#}
    {#                                 alt="{{ restaurant.name }}">#}
    {#                        </div>#}
    {#                        <hr>#}
    {#                        <div class="card-body">#}
    {#                            <h5 class="card-title">{{ restaurant.name }}</h5>#}
    {#                            <div class="">#}
    {#                                {% for i in range(restaurant.stars_int) %}#}
    {#                                    <img class="review-star"#}
    {#                                         src="{{ url_for("static", filename="reviews/star.png") }}" alt="Star">#}
    {#                                {% endfor %}#}
    {#                            </div>#}
    {#                            <p class="card-text">{{ restaurant.desc }}</p>#}
    {#                            <a href="{{ url_for("delivery_food", restaurant_id=restaurant.id) }}"#}
    {#                               class="btn btn-primary">Order</a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                {% endfor %}#}
    {#            {% else %}#}
    {#                <p>There are no restaurants on FoodyPulse yet :(</p>#}
    {#            {% endif %}#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {##}
    {#</section>#}


    {#    ------------------------------------------------------------------------------------------------------------#}
    {#    <section class="products">#}
    {#   <div class="container px-4 py-5" id="featured-3">#}
    {#    <h2 class="pb-2 border-bottom">Choose a Restaurant</h2>#}
    {#    <div class="row g-4 py-5 row-cols-1 row-cols-lg-1">#}
    {#      {% if count %}#}
    {#        {% for restaurant in restaurants %}#}
    {#          <div class="card" style="width: 18rem;">#}
    {#          <div id="image">#}
    {#            <img src="{{ url_for("static", filename=restaurant.logo) }}" class="card-img-top" alt="{{ restaurant.name }}">#}
    {#          </div>#}
    {#          <hr>#}
    {#            <div class="card-body">#}
    {#              <h5 class="card-title">{{ restaurant.name }}</h5>#}
    {#              <div class="">#}
    {#                {% for i in range(restaurant.stars_int) %}#}
    {#                  <img class="review-star" src="{{ url_for("static", filename="reviews/star.png") }}" alt="Star">#}
    {#                {% endfor %}#}
    {#              </div>#}
    {#              <p class="card-text">{{ restaurant.desc }}</p>#}
    {#              <a href="{{ url_for("delivery_food", restaurant_id=restaurant.id) }}" class="btn btn-primary">Order</a>#}
    {#            </div>#}
    {#          </div>#}
    {#        {% endfor %}#}
    {#      {% else %}#}
    {#      <p>There are no restaurants on FoodyPulse yet :(</p>#}
    {#      {% endif %}#}
    {#    </div>#}
    {#  </div>#}
    {##}
    {##}
    {#    </section>#}
{% endblock %}
{#    --------------------------------------------------------------------------------------------#}
{#   <div class="container px-4 py-5" id="featured-3">#}
{#    <h2 class="pb-2 border-bottom">Choose a Restaurant</h2>#}
{#    <div class="row g-4 py-5 row-cols-1 row-cols-lg-1">#}
{#      {% if count %}#}
{#        {% for restaurant in restaurants %}#}
{#          <div class="card" style="width: 18rem;">#}
{#            <img src="{{ url_for("static", filename=restaurant.logo) }}" class="card-img-top" alt="{{ restaurant.name }}">#}
{#            <div class="card-body">#}
{#              <h5 class="card-title">{{ restaurant.name }}</h5>#}
{#              <div class="">#}
{#                {% for i in range(restaurant.stars_int) %}#}
{#                  <img class="review-star" src="{{ url_for("static", filename="reviews/star.png") }}" alt="Star">#}
{#                {% endfor %}#}
{#              </div>#}
{#              <p class="card-text">{{ restaurant.desc }}</p>#}
{#              <a href="{{ url_for("delivery_food", restaurant_id=restaurant.id) }}" class="btn btn-primary">Order</a>#}
{#            </div>#}
{#          </div>#}
{#        {% endfor %}#}
{#      {% else %}#}
{#      <p>There are no restaurants on FoodyPulse yet :(</p>#}
{#      {% endif %}#}
{#    </div>#}
{#  </div>#}
{##}
{#{% endblock %}#}
