{# ashlee #}
{% extends "consumer/consumer_base.html" %}
{% block title %}Delivery{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for("static", filename="css/features.css") }}">
{% endblock %}

{% block content %}
   <div class="container px-4 py-5" id="featured-3">
   <h1 class="pb-2">{{ restaurant.name }}</h1>
    <h2 class="pb-2 border-bottom">Choose Food Item</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-1">
      {% if count %}
        {% for food in food_list %}
          <div class="card" style="width: 18rem;">
            <img src="{{ url_for("static", filename=food.image) }}"
                 class="card-img-top" alt="{{ food.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ food.name }}</h5>
              <h6 class="card-title">${{ "%.2f" % food.price }}</h6>
              <p class="card-text">{{ food.description }}</p>
              <a href="{{ url_for("cart_add", food_id=food.id) }}"
                 class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        {% endfor %}
      {% else %}
      <p>There are no food items in {{ restaurant.name }} yet :(</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
