<!-- Ashlee -->
{# Navbar is now styled in the respective base html files #}
{#<link rel="stylesheet" href={{ url_for("static", filename="base/navbar.css") }}>#}

<!-- TODO: Separate navbar for both admin and consumer side. -ashlee -->

<nav class="navbar navbar-expand-sm bg-light navbar-light" id="main-nav">
  <div class="container-fluid">
    <a class="navbar-brand" id="website-logo" href="/">Loading...</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <!-- Aligned left -->
      <div id="navbar-left-items">
        <div id="consumerSide" hidden>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button"
                 data-bs-toggle="dropdown">
                Delivery</a>
              <ul class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('create_user') }}">Create
                  User</a>
                <a class="dropdown-item" href="{{ url_for('retrieve_users') }}">Retrieve
                  Users</a>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button"
                 data-bs-toggle="dropdown">
                Dine-In</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/createCustomer">Create
                  Customer</a></li>
                <li><a class="dropdown-item"
                       href="{{ url_for('retrieve_customers') }}">Retrieve
                  Customer</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact_us') }}">Contact
                Us</a>
            </li>
          </ul>
        </div>


        <div id="adminSide" hidden>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Restaurants</a>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact_us') }}">Coupons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact_us') }}">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 href="{{ url_for('contact_us') }}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 href="{{ url_for('contact_us') }}">Feedback</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Aligned right -->
      <div id="navbar-right-items" class="ms-auto">
        <ul class="navbar-nav" id="consumerSideRight" hidden>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown">
              Admin/Consumer</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"
                     href={{ url_for("admin_home") }}>Admin</a></li>
              <li><a class="dropdown-item"
                     href={{ url_for("home") }}>Consumer</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown">
              My Account</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Login</a></li>
              <li><a class="dropdown-item" href="#">Sign Up</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cart</a>
          </li>

        </ul>


        <ul class="navbar-nav" id="adminSideRight" hidden>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown">
              Admin/Consumer</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"
                     href={{ url_for("admin_home") }}>Admin</a></li>
              <li><a class="dropdown-item"
                     href={{ url_for("home") }}>Consumer</a>
              </li>
            </ul>
          </li>


          {% if not is_account_id_in_session() %} {# Account is NOT logged in #}
            <li class="nav-item dropdown notLoggedInMenu">
              <a class="nav-link dropdown-toggle" href="#" role="button"
                 data-bs-toggle="dropdown">
                My Account</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href={{ url_for("admin_login") }}>Login</a></li>
                <li><a class="dropdown-item" href={{ url_for("admin_register") }}>Sign Up</a></li>
              </ul>
            </li>

          {% else %} {# Account is logged in #}
            <li class="nav-item dropdown loggedInMenu">
              <a class="nav-link dropdown-toggle" href="#" role="button"
                 data-bs-toggle="dropdown">
                Hi, {{ get_restaurant_name_by_id(session["account_id"]) }}</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href={{ url_for("admin_logout") }}>Log Out</a></li>
              </ul>
            </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </div>
</nav>