<!-- Ashlee -->
{# Navbar is now styled in the respective base html files #}
{#<link rel="stylesheet" href={{ url_for("static", filename="base/navbar.css") }}>#}

<!-- TODO: Separate navbar for both admin and consumer side. -ashlee -->

<nav class="navbar navbar-expand-sm bg-light navbar-light" id="main-nav">
  <div class="container-fluid">
    <a class="navbar-brand" id="website-logo" href="/">Loading...</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <!-- Aligned left -->
      <div id="navbar-left-items">
        <div id="consumerSide" hidden>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button"
                 data-bs-toggle="dropdown">
                Delivery</a>
              <ul class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('create_user') }}">Create
                  User</a>
                <a class="dropdown-item" href="{{ url_for('retrieve_users') }}">Retrieve
                  Users</a>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button"
                 data-bs-toggle="dropdown">
                Dine-In</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/createCustomer">Create
                  Customer</a></li>
                <li><a class="dropdown-item"
                       href="{{ url_for('retrieve_customers') }}">Retrieve
                  Customer</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact_us') }}">Contact
                Us</a>
            </li>
          </ul>
        </div>


        <div id="adminSide" hidden>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Restaurants</a>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact_us') }}">Coupons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact_us') }}">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 href="{{ url_for('contact_us') }}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 href="{{ url_for('contact_us') }}">Feedback</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Aligned right -->
      <div id="navbar-right-items" class="ms-auto">
        <ul class="navbar-nav" id="consumerSideRight" hidden>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown">
              Admin/Consumer</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"
                     href={{ url_for("admin_home") }}>Admin</a></li>
              <li><a class="dropdown-item"
                     href={{ url_for("home") }}>Consumer</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown">
              My Account</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Login</a></li>
              <li><a class="dropdown-item" href="#">Sign Up</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cart</a>
          </li>

        </ul>


        <ul class="navbar-nav" id="adminSideRight" hidden>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown">
              Admin/Consumer</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"
                     href={{ url_for("admin_home") }}>Admin</a></li>
              <li><a class="dropdown-item"
                     href={{ url_for("home") }}>Consumer</a>
              </li>
            </ul>
          </li>


          {% if not is_account_id_in_session() %} {# Account is NOT logged in #}
            <li class="nav-item dropdown notLoggedInMenu">
              <a class="nav-link dropdown-toggle" href="#" role="button"
                 data-bs-toggle="dropdown">
                My Account</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href={{ url_for("admin_login") }}>Login</a></li>
                <li><a class="dropdown-item" href={{ url_for("admin_register") }}>Sign Up</a></li>
              </ul>
            </li>

          {% else %} {# Account is logged in #}
            <li class="nav-item dropdown loggedInMenu">
              <a class="nav-link dropdown-toggle" href="#" role="button"
                 data-bs-toggle="dropdown">
                Hi, {{ get_restaurant_name_by_id(session["account_id"]) }}</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#accountSettingsModal">
                  Account Settings
                </a></li>
                <li><a class="dropdown-item" href={{ url_for("admin_logout") }}>Log Out</a></li>
              </ul>
            </li>

            <!-- Account Settings modal -->
            <!-- using BS5 Modal -->
            <div class="modal fade" id="accountSettingsModal" tabindex="-1" aria-labelledby="accountSettingsModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="accountSettingsModalLabel">Account Settings</h5>
                  </div>
                  <div class="modal-body">
                    <form action="{{ url_for("admin_update_account") }}" id="accountSettingsForm" method="post">
                      <label for="updateSettingsPw">To update any settings, you must enter your current password.</label>
                      <label for="updateSettingsPw" style="margin-top: 1.5rem;">Current Password: </label>
                      <input type="password" name="updateSettingsPw" id="updateSettingsPw"><br>
                      <hr>
                      <div class="form-group row">
                        <label for="changeName">Current Name: <b>{{ is_account_id_in_session().name }}</b></label>
                        <label for="changeName" class="col-form-label">New Name: </label>
                        <input type="text" name="changeName" id="changeName"><br>
                      </div>
                      <hr>
                      <div class="form-group row">
                        <label for="changeEmail">Current Email: <b>{{ get_account_email(is_account_id_in_session()) }}</b></label>
                        <label for="changeEmail" class="col-form-label">New Email: </label>
                        <input type="text" name="changeEmail" id="changeEmail"><br>
                      </div>
                      <div class="form-group row">
                      <label for="changePw" class="col-form-label">New Password: </label>
                      <input type="password" name="changePw" id="changePw"><br>
                      </div>
                      <div class="form-group row">
                      <label for="changePwConfirm" class="col-form-label">Confirm Password: </label>
                      <input type="password" name="changePwConfirm" id="changePwConfirm"><br>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <div class="d-flex align-items-start">
                      <button type="button" class="btn btn-danger" onclick="deleteAccount()">Delete Account</button>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="updateAccount()">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Account Settings modal script -->
            <script>
              function updateAccount() {
                document.getElementById("accountSettingsForm").submit();
              }
              function deleteAccount() {
                  if (confirm("Are you REALLY SURE you want to delete your account? This cannot be undone!"))
                      window.location.href = "{{ url_for("delete_admin_account") }}";
              }
            </script>
          {% endif %}

        </ul>
      </div>
    </div>
  </div>
</nav>