{% extends "admin/admin_base.html" %}
{% block title %}Forget Password{% endblock %}

{% block head %}
  <style>
      #login-pane {
          margin: 2rem;
          margin-left: auto;
          margin-right: 0;
          padding: 2rem;
          width: 50%;
          background-color: rgba(200, 112, 231, 0.6);

          height: 70%;
      }

      #logo-pane {
          margin: 2rem;
          margin-left: 0.1rem;
          margin-right: auto;
      }

      #login-pane > form {
          text-align: center;
      }

      #login-pane > form > input {
          margin-top: 10px;
          margin-bottom: 10px;

          background-color: inherit;
          border: none;

          box-shadow: 0 2px #77777777;
      }

      form > input#submitButton {
          background-color: #37c24e;
          padding: 10px;
          width: 30%;
      }

      label > img {
          width: 40px;
          height: 40px;
      }

      #loginErrorMsg {
          color: red;
      }

  </style>

{% endblock %}
{% block content %}
  <div id="mainContent" class="d-flex">
  <div id="logo-pane">
    <img src="{{ url_for("static", filename="account/accountpage_logo.jpg") }}" alt="FoodyPulse Logo"
         style="">
  </div>
  <div id="login-pane">
    <h2>Forget Password</h2>
    <form action="{{ url_for("admin_forget_password_key") }}" method="post" class="login-form">
      <p>Enter your email address and the password reset key.</p>
      <label for="email"><img style="opacity: 60%" src={{ url_for("static", filename="account/person.png") }}/></label>
      <input type="email" name="email" id="email"
             placeholder="Email Address" required><br>
      <label for="token"><img style="opacity: 60%" src="{{ url_for("static", filename="account/otp.png") }}"/></label>
      <input type="password" name="token" id="token" placeholder="Password Reset Token" required><br>

      <input class="btn" type="submit" value="Reset Password" id="submitButton"><br>
      <a class="btn btn-secondary" href="{{ url_for("consumer_login") }}">Back</a>
        <br>
    </form>
  </div>
  </div>
{% endblock %}