.DS_Store

# Our project
fp-log.txt

# Python
__pycache__/
*.pyc

# Intellij
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries

*.db
*.db.bak
*.db.dat
*.db.dir
