{% extends "admin/admin_base.html" %}
{% block title %}Food Mnagement {% endblock %}


{% block head %}
<style>
      h1{
        color:red;
      }

      .model-header{
        margin:10px;

      }
      .modal-content{
        background-color:#ffd1d1;
        padding:10px;
      }
      #image{
        position:relative;
        bottom:10%;
        left:20px;
        width:300px;
        height:300px;
        margin:5px;
      }
      #foodNameLabel{
        position:relative;
        right:25%;
        top:30px;
      }
      #name{
        position:relative;
        left:550px;
        width:400px;
        bottom: 300px;
      }

      #priceLabel{
        position:relative;
        left:225px;
        bottom: 160px;
      }
      #price{
        width:400px;
        height:40px;
        position:relative;
        left:277px;
        bottom: 190px;
      }

      #allergyLabel{
        position:relative;
        left:200px;
        bottom: 150px;
      }

      #allergy{
        width:400px;
        height:40px;
        position:relative;
        left:277px;
        bottom:177px;


      }







</style>

{% endblock %}


{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1>HELO I AM CLARA NG KHAI EHAARN FREAK U</h1>
<!--POP UP MODEL-->


<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
     tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" >
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Create User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form method="POST" action="">
                        <div class="form-group" id="image">
                            {{ render_field(form.image, class="form-control") }}
                        </div>
                        <div class="form-group" id="name">
                            <label id="foodNameLabel">Food name:</label>{{ render_field(form.item_name, class="form-control") }}
                        </div>
                        <div class="form-group" id="description">
                             <label id="descriptionLabel">Description:</label>{{ render_field(form.description, class="form-control") }}
                        </div>
                        <div class="form-group" id="price">
                            <label id="priceLabel">Price:</label>{{ render_field(form.price, class="form-check", style="list-style-type:none") }}
                        </div>
                        <div id="prof">
                            <div class="form-group" id="allergy">
                                <label id="allergyLabel">Allergies:</label>{{ render_field(form.allergy,
                                class="form-control") }}
                            </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Specification:</label>
                                <textarea class="form-control"rows="3"></textarea>
                            </div>

                        <input type="submit" value="Submit" class="btn btn-primary"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Open second modal
                    </button>
                </div>
            </div>

    </div>
</div>
<a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a>
{% endblock %}
