<!--xu yong lin-->
{% extends "admin/admin_base.html" %}
{% block title %}Admin Display Certification{% endblock %}

{% block head %}
    <style>
    </style>
{% endblock %}

{% block content %}
    <h1>EXTENSION TO RESTAURANT DETAILS</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">restaurant name's Certifications</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {# modal body #}
                <div class="modal-body">
                    <p>Here are your certifications</p>
                    <br>
                    {# hygiene cert #}
                    <h5>Hygiene Certification: </h5>
                    {# halal cert #}
                    {# vegetarian cert #}
                    {# no pork no lard indication #}
                    {# vegan cert #}
                    {# no beef indication #}
                </div>
                {# modal footer #}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}