<!--ruri flora newman-->
{% extends "admin/admin_base.html" %}
{% block title %}Dashboard layout{% endblock %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"
            integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg=="
            crossOrigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .col-xs-10, .col-sm-6, .col-md-6{
            margin: auto;
        }
    </style>

{% endblock %}
{% block content %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-settings-tab" data-bs-toggle="tab" data-bs-target="#nav-settings"
                    type="button" role="tab" aria-controls="nav-settings" aria-selected="true"><a
                    href="{{ url_for('dashboard') }}">Dashboard</a>
            </button>
            <button class="nav-link" id="nav-restrictions-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-restrictions"
                    type="button" role="tab" aria-controls="nav-restrictions" aria-selected="false"><a
                    href="{{ url_for('create_example_transactions') }}">Transactions</a>
            </button>
        </div>
    </nav>

    <div class="col-xs-10 col-sm-6 col-md-6">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="income_vs_expense"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script>
        const ctx = document.getElementById('income_vs_expense').getContext('2d');
        const yValues = "";
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], //x values (to input shelve)
                datasets: [{
                    label: '# of transactions',
                    data: [12, 19, 3, 5, 2, 3],  //y values (to input from shelve)

                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>


{% endblock %}