<!--Clara-->
{% extends "admin/admin_base.html" %}
{% block title %}Food Management {% endblock %}

{% block head %}
    <style>
        div.scroll {
            background-color: #fed9ff;
            width: 900px;
            height: 300px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: center;
            padding: 20px;
            position: relative;
            top: 150px;
            left: 200px;

        }
    </style>
{% endblock %}

{% block content %}

    <div class="scroll">

        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>User ID BITCH</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Membership</th>
                    <th>Remarks</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for food in food_list %}
                    <tr>
                        <td>{{ food.get_name() }}</td>
                        <td>{{ food.get_description() }}</td>
                        <td>{{ food.get_price() }}</td>
                        <td>{{ food.get_allergy() }}</td>
                        <td>{{ food.get_specfication() }}</td>

                        <td>{{ food.get_topping() }}</td>
                        <td><a href="#" class="btn btn-warning">Update</a></td>
                        <td>
                            <form action="" method="POST">
                                <input type="submit" value="Delete" class="btn btn-danger">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
