{% extends "admin/admin_base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
<style>
    h1 {
        font-weight: bold;

    }
    h1>#emphasis {
        color: #E16B6B;
    }
    #left-home-content {
        width: 60%;
        margin: auto;
        margin-left: 0;
        display: grid;
        justify-content: center;
    }
    #right-home-content {
        width: 40%;
        padding-top: 16.5%;
        padding-bottom: 16.5%;
        margin: auto;
        margin-right: 0;
        display: grid;
        justify-content: left;
    }
    #right-home-content>img {
        width: 100%;
        height: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div id="whole-homepage" class="d-flex flex-row">
    <div id="left-home-content">
        <h1>Food <span id="emphasis">you</span> sell.</h1>
        <h1>Made available to others.</h1>
        <h1>&nbsp;</h1>
        <p>Dine-in and ordering, all at your comfort.</p>
        <p><a href="#"><button class="btn btn-primary">Order Now</button></a></p>
    </div>
    <div id="right-home-content">
        <img src={{ url_for("static", filename="home/shop_admin.png") }} />
    </div>
</div>
{% endblock %}
