{% extends "admin/admin_base.html" %}
{% block title %}Coupon Management{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <div>
  <h1 class="display-6">Coupon Management</h1>
    {% if count == 0 %}
      <p>There are no coupons.
        {% elif count == 1 %}
      <p>There is 1 coupon.
        {% else %}
      <p>There are {{ count }} coupons.
    {% endif %}
    <a class="btn btn-primary align-items-center float-end ms-2" href="#" data-bs-toggle="modal"
       data-bs-target="#TestCouponModal">Test coupons</a>
    <a class="btn btn-primary align-items-center float-end ms-2"
       href="{{ url_for("admin_coupon_add") }}" role="button">New Coupon</a>
    </p>
  </div>
  <div>
    <table class="table table-striped retrieveTable">
      <thead>
      <tr>
        <th>Coupon Code</th>
        <th>Food Items</th>
        <th>Discount Type</th>
        <th>Discount Amount</th>
        <th>Expiry</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for coupon in coupon_list %}
        <tr>
          <td>{{ coupon.coupon_code }}</td>
          <td>
            {% for food_item_id in coupon.food_items %}
              {{ food_item_id }}&nbsp;
            {% endfor %}
          </td>
          {% if coupon.discount.discount_type == coupon.discount.FIXED_PRICE %}
            <td>Fixed Price</td>
            <td>{{ coupon.discount.discount_amount }}</td>
          {% elif coupon.discount.discount_type == coupon.discount.PERCENTAGE_OFF %}
            <td>Percentage Off</td>
            <td>{{ coupon.discount.discount_amount * 100 }}%</td>
          {% else %}
            <td>ERROR</td>
            <td>{{ coupon.discount.discount_amount }}</td>
          {% endif %}

          <td>{{ coupon.expiry }}</td>
          <td><a href="{{ url_for("admin_coupon_update", coupon_code=coupon.coupon_code) }}"
                 class="btn btn-warning">Update</a></td>
          <td>
            <form action="{{ url_for('admin_coupon_delete', coupon_code=coupon.coupon_code) }}"
                  method="POST">
              <!--        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {#user.get_first_name()#} {#user.get_last_name()#}?');">-->
              <!-- Button to Open the Modal -->
              <button type="button" class="btn btn-danger"
                      data-bs-toggle="modal"
                      data-bs-target="#myModal_{{ coupon.id }}">
                Delete
              </button>

              <!-- The Modal -->
              <div class="modal" id="myModal_{{ coupon.id }}">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Delete Confirmation</h4>
                      <button type="button" class="btn-close"
                              data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      Are you sure you want to delete {{ coupon.coupon_code }}?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <input type="submit" value="Delete"
                             class="btn btn-danger">
                      <button type="button" class="btn btn-secondary"
                              data-bs-dismiss="modal">Cancel
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="modals">
    <!-- Test Coupon Modal -->
    <div class="modal fade" id="TestCouponModal" tabindex="-1" aria-labelledby="TestCouponModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="TestCouponModalLabel">Test Coupons</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{{ url_for("coupon_tester") }}">
              <label>Food ID
                <input type="text" name="foodID" class="form-control">
              </label>
              <label>Discount Code
                <input type="text" name="discountCode" class="form-control">
              </label>
              <br>
              <br>
              <button type="submit" class="btn btn-primary">Test!</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
