<!--xu yong lin-->
{% extends "admin/admin_base.html" %}
{% block title %}Admin Certification{% endblock %}

{% block head %}
    <style>
        form {
            background-color: white;
            width: 80%;
            margin: auto;
        }

        .btn{
            display: flex;
            margin-left: 30px;
        }

        .mb-3 {
            margin: 10px 30px;
        }

        .form-check {
            margin: 5px 30px;
        }

    </style>
{% endblock %}

{% block content %}
    <h1>Restaurant Certification</h1>
    {# form #}
    <form method="POST" action="">
        <h3 style="margin: 10px 30px; padding-top: 20px; display: inline-block">Upload your Hygiene Certification below</h3>
        {# display existing inputs #}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal" style="display: inline-block !important; margin-top: 30px; margin-right: 30px; float: right;">
            View Pre-existing Certificates
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {# hygiene cert #}
                        <table class="table"
                               style="background-color: white">
                            {% for cert in id_list %}
                                <thead>
                                <tr>
                                    <th scope="col">Certificate Name</th>
                                    <th scope="col">File name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">Hygiene Certificate</th>
                                    <td>{{ cert.hygiene_cert }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Halal Certificate</th>
                                    {% if not cert.halal_cert %}
                                        <td>NIL</td>
                                    {% else %}
                                        <td>{{ cert.halal_cert }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th scope="row">Vegetarian Certificate</th>
                                    {% if not cert.vegetarian_cert %}
                                        <td>NIL</td>
                                    {% else %}
                                        <td>{{ cert.vegetarian_cert }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th scope="row">Vegan Certificate</th>
                                    {% if not cert.vegan_cert %}
                                        <td>NIL</td>
                                    {% else %}
                                        <td>{{ cert.vegan_cert }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th scope="row">No Pork No lard</th>
                                    <td>{{ cert.noPorknoLard }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">No Beef</th>
                                    <td>{{ cert.noBeef }}</td>
                                </tr>
                                </tbody>
                            {% endfor %}
                            </thead>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--END-->

        <div class="hygienecert">
            <div class="mb-3">
                <label>Hygiene Certification</label>
                <input class="form-control" type="file" name="hygieneDocument" id="hygieneDocument"
                       accept="application/pdf" value="NIL"
                       required/>
            </div>
        </div>
        <div style="margin: 10px 30px;">
            <h3>Please click on the certifications your restaurant can serve</h3>
        </div>
        {#halal check #}
        <div class="halalcheck">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Halal" name="certCheck"
                       id="halalCheck" onclick="fileUpload1()">
                <label class="form-check-label" for="halalCheck">Halal</label>
            </div>
        </div>
        {# vegetarian check #}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="certCheck"
                   value="Vegetarian" id="vegetarianCheck" onclick="fileUpload2()">
            <label class="form-check-label" for="vegetarianCheck">Vegetarian</label>
        </div>
        {# no pork no lard check #}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="certCheck"
                   value="No Pork No Lard" id="NoPorkNoLard">
            <label class="form-check-label" for="NoPorkNoLard">No
                Pork, No Lard</label>
        </div>
        {# vegan check #}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Vegan" name="certCheck"
                   id="veganCheck" onclick="fileUpload3()">
            <label class="form-check-label" for="veganCheck">Vegan</label>
        </div>
        {# no beef check #}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="NoBeef" name="certCheck"
                   id="NoBeef">
            <label class="form-check-label" for="NoBeef">No
                beef</label>
        </div>
        {# halal file#}
        <div class="mb-3" id="halalFile" style="display: none">
            <label>Upload Halal Certification below</label>
            <input name="halalDocument" class="form-control" type="file"
                   id="halalFormFile" value="NIL" accept="application/pdf">
        </div>
        {# vegetarian file #}
        <div class="mb-3" id="vegetarianFile" style="display:none">
            <label>Upload Vegetarian Certification below</label>
            <input name="vegetarianDocument" class="form-control"
                   type="file" id="vegetarianFormFile" value="NIL" accept="application/pdf">
        </div>
        {# vegan file #}
        <div class="mb-3" id="veganFile" style="display:none">
            <label>Upload Vegan Certification below</label>
            <input name="veganDocument" class="form-control" type="file"
                   id="veganFormFile" value="NIL" accept="application/pdf">
        </div>


        <input type="submit" value="Submit" class="btn btn-primary" style="margin-top: 10px;"/>
    </form>

    <script>
        function fileUpload1() {
            var checkBox = document.getElementById("halalCheck");
            var halalUpload = document.getElementById("halalFile");
            if (checkBox.checked === true) {
                halalUpload.style.display = "block";
            } else {
                halalUpload.style.display = "none";
            }
        }

        function fileUpload2() {
            var checkBox2 = document.getElementById("vegetarianCheck");
            var vegetarianUpload = document.getElementById("vegetarianFile");
            if (checkBox2.checked === true) {
                vegetarianUpload.style.display = "block";
            } else {
                vegetarianUpload.style.display = "none";
            }
        }

        function fileUpload3() {
            var veganCheckBox = document.getElementById("veganCheck");
            var veganUpload = document.getElementById("veganFile");
            if (veganCheckBox.checked == true) {
                veganUpload.style.display = "block";
            } else {
                veganUpload.style.display = "none";
            }
        }
    </script>

{% endblock %}
